<!DOCTYPE html>
<html>
<head>
  <title>Home - Steganografi Web</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    
    body {
      background-color: rgba(255, 252, 252, 0.2); 
      color: #000; 
    }
  </style>
 <!-- Bagian script yang melakukan permintaan ke backend saat tombol "Encode" ditekan -->
<script>
  function encode() {
      var imageInput = document.getElementById('imageInput').files[0];
      var messageInput = document.getElementById('messageInput').value;
  
      var formData = new FormData();
      formData.append('image', imageInput);
      formData.append('message', messageInput);
  
      fetch('http://localhost:5000/hide_message', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          document.getElementById('encodeResult').innerHTML = data.result;
      })
      .catch(error => {
          console.error('Error:', error);
      });
  }
  </script>
  
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="btn-group d-flex" role="group">
          <a type="button" class="btn btn-primary" style="background-color: #0F1CF3; border-color: #0F1CF3; flex: 1;" href="encode.html" target="contentFrame">Encode</a>
          <a class="btn btn-success" style="background-color: #4B55FF; border-color: #4B55FF; flex: 1;" href="decode.html" target="contentFrame">Decode</a>
        </div>
      </div>
    </div>
    <form class="mt-3 text-center">
        <div class="form-group rounded" style="margin-top: 10px; padding: 10px; background-color: #D9D9D9;">
            <label for="imageInput">Upload Gambar</label>
            <input type="file" class="form-control-file border border-dark border-dashed" id="imageInput" accept="image/*">
        </div>        
      <div class="form-group" style="margin-top: 10px; background-color: #D9D9D9;"">
        <textarea class="form-control" id="messageInput" rows="4" placeholder="Input your message here" style="background-color: #D9D9D9"></textarea>
      </div>
      <button type="button" class="btn btn-primary" onclick="encode()" style="margin-top: 10px;">Encode</button>
    </form>
    <div class="mt-3" id="encodeResult"></div>
  </div>
</body>
</html>